body {
	background-color: #fff;
}

.navbar-default {
  background-color: #72c2eb;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #520D87;
  border-radius: 0px;
  -moz-box-shadow: 2px 2px 2px #ccc;
   -webkit-box-shadow: 3px 3px 3px #ccc;
   box-shadow: 3px 3px 3px #ccc;
 }

.datbar {
	margin-top: 1em;
	margin-bottom: 1em;
}

body nav div div h2 a{
	color: #fff;
}

.navbar-default .btn-link {
	color: #fff;
}
